<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd"
    >

    <!-- 
    <bean id="testDao" class="org.akaza.openclinica.dao.test.TestDao">
        <property name="jdbcTemplate">
            <ref bean="jdbcTemplate"/>
        </property>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" autowire="byName">
     <property name="dataSource">
            <ref bean="ds"/>
        </property>
    </bean>
     -->

    <bean id="applicationContextProvider" class="org.akaza.openclinica.core.ApplicationContextProvider"/>

    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase" depends-on="coreResources, applicationContextProvider">
      <property name="dataSource" ref="dataSource" />
      <property name="changeLog" value="classpath:migration/master.xml" />
      <property name="changeLogParameters">
          <map>
              <entry key="dbUser" value="${username:clinica}"/>
          </map>
      </property>
    </bean>

    <!-- 
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject"><ref local="dataSource"/></property>
        <property name="targetMethod"><value>addConnectionProperty</value></property>
        <property name="arguments">
            <list>
                <value>SetBigStringTryClob</value>
                <value>true</value>
            </list>
        </property>
    </bean>
    -->
    
    <bean id="queryStore" class="org.akaza.openclinica.dao.QueryStore" init-method="init">
        <property name="dataSource" ref="dataSource"/>
    </bean>
      
    <!-- Exposing old-fashioned DAOs as Spring beans -->
    <bean id="userAccountDaoJdbc" class="org.akaza.openclinica.dao.login.UserAccountDAO" scope="prototype">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="eventCrfDaoJdbc" class="org.akaza.openclinica.dao.submit.EventCRFDAO" scope="prototype">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="studyDaoJdbc" class="org.akaza.openclinica.dao.managestudy.StudyDAO" scope="prototype">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="studyEventDefinitionDaoJdbc" class="org.akaza.openclinica.dao.managestudy.StudyEventDefinitionDAO" scope="prototype">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="crfVersionDaoJdbc" class="org.akaza.openclinica.dao.submit.CRFVersionDAO" scope="prototype">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="studySubjectDaoJdbc" class="org.akaza.openclinica.dao.managestudy.StudySubjectDAO" scope="prototype">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="subjectDaoJdbc" class="org.akaza.openclinica.dao.submit.SubjectDAO" scope="prototype">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="crfDaoJdbc" class="org.akaza.openclinica.dao.admin.CRFDAO" scope="prototype">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="studyEventDaoJdbc" class="org.akaza.openclinica.dao.managestudy.StudyEventDAO" scope="prototype">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="itemDaoJdbc" class="org.akaza.openclinica.dao.submit.ItemDAO" scope="prototype">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="itemDataDaoJdbc" class="org.akaza.openclinica.dao.submit.ItemDataDAO" scope="prototype">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="itemFormMetadataDaoJdbc" class="org.akaza.openclinica.dao.submit.ItemFormMetadataDAO" scope="prototype">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="auditDaoJdbc" class="org.akaza.openclinica.dao.admin.AuditDAO" scope="prototype"><constructor-arg ref="dataSource"/></bean>
    <bean id="discrepancyNoteDaoJdbc" class="org.akaza.openclinica.dao.managestudy.DiscrepancyNoteDAO" scope="prototype"><constructor-arg ref="dataSource"/></bean>
    <bean id="eventDefinitionCrfDaoJdbc" class="org.akaza.openclinica.dao.managestudy.EventDefinitionCRFDAO" scope="prototype"><constructor-arg ref="dataSource"/></bean>
    <bean id="itemGroupDaoJdbc" class="org.akaza.openclinica.dao.submit.ItemGroupDAO" scope="prototype"><constructor-arg ref="dataSource"/></bean>
    <bean id="sectionDaoJdbc" class="org.akaza.openclinica.dao.submit.SectionDAO" scope="prototype"><constructor-arg ref="dataSource"/></bean>
    <bean id="studyParameterValueDaoJdbc" class="org.akaza.openclinica.dao.service.StudyParameterValueDAO" scope="prototype"><constructor-arg ref="dataSource"/></bean>
    <bean id="archivedDatasetFileDaoJdbc" class="org.akaza.openclinica.dao.extract.ArchivedDatasetFileDAO" scope="prototype"><constructor-arg ref="dataSource"/></bean>
</beans>
