<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/util
                        http://www.springframework.org/schema/util/spring-util-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:component-scan base-package="org.akaza.openclinica.service"/>
    
     <util:properties id="dataInfo" location="classpath:datainfo.properties"/>
     <util:properties id="extractInfo" location="classpath:extract.properties"/>
     <util:properties id="enterpriseInfo" location="classpath:enterprise.properties"/>
  <!--

  <bean id="ocSessionContext" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
	 <property name="targetClass"><value>org.akaza.openclinica.control.ApplicationContextHelper</value></property>
	   <property name="targetMethod"><value>getContext</value></property>
  </bean>
  -->
     <bean id="coreResources" class="org.akaza.openclinica.dao.core.CoreResources">

        <property name="dataInfo" ref="dataInfo"/>

        <property name="extractInfo" ref="extractInfo"/>

        <!--  <property name="messageSource" ref="messageSource"/> -->
     </bean>

    <bean id="dataInfoProperties" factory-bean="coreResources" factory-method="getDataInfo"/>

     <!-- ENABLING THIS WILL ACTIVATE I18N VIA SPRING -->
     <bean id="messageSource"
        class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>org.akaza.openclinica.i18n.admin</value>
                <value>org.akaza.openclinica.i18n.audit_events</value>
                <value>org.akaza.openclinica.i18n.exceptions</value>
                <value>org.akaza.openclinica.i18n.format</value>
                <value>org.akaza.openclinica.i18n.notes</value>
                <value>org.akaza.openclinica.i18n.page_messages</value>
                <value>org.akaza.openclinica.i18n.terms</value>
                <value>org.akaza.openclinica.i18n.words</value>
                <value>org.akaza.openclinica.i18n.workflow</value>
                <value>org.akaza.openclinica.i18n.ws_messages</value>
            </list>
        </property>
    </bean>

         <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"

        p:placeholderPrefix="s["
        p:placeholderSuffix="]"
     >
     <property name="properties"><ref bean="dataInfoProperties"/></property>

     </bean>

     <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"/>
     
     
     

    <bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="packagesToScan">
            <list>
                <value>org.akaza.openclinica.bean.submit.crfdata</value>
                <value>org.akaza.openclinica.bean.odmbeans</value>
                <value>org.akaza.openclinica.domain.rule</value>
                <value>org.akaza.openclinica.domain.rule.action</value>
                <value>org.akaza.openclinica.domain.rule.expression</value>
            </list>
        </property>
        <property name="contextPaths">
            <list>
                <value>org.openclinica.ws.beans</value>
                <value>org.akaza.openclinica.ws.generated</value>
                <value>org.cdisc.ns.odm.v130:org.cdisc.ns.odm.v130_api:org.openclinica.ns.odm_ext_v130.v31_api:org.openclinica.ns.odm_ext_v130.v31:org.openclinica.ns.rules.v31:org.openclinica.ns.response.v31:org.openclinica.ns.rules_test.v31</value>
            </list>
        </property>
        <property name="supportDtd" value="false" />
        <property name="processExternalEntities" value="false" />
    </bean>
</beans>
